{# this blueprint contains the HTML for the profile page that will display all items of a related search #}


{% extends "app_base.html" %}

{% block content %}
    <!-- main body section -->
    <section class="py-5">
        <div class="container-fluid">
            <div class="row">
                <!-- Logo and Search -->
                <div class="col-md-3">
                    <a href={{ url_for('items.item_listing') }}><img src="/static/logo2.jpg" width="30%"></a>
                </div>
                <div class="col-md-9">
                    <!-- Center the Search bar in the remaining row -->
                    <div class="col-md-6 col-md-offset-3">
                        <div id="custom-search-input">
                            <form class="input-group col-md-12" action={{ url_for('items.search') }} method="GET">
                                <input type="text" class="form-control input-lg" name="search"
                                       placeholder="Search for a deal or movie ticket..."/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-lg" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Side bar -->
                <div class="col-md-2">
                    <div class="panel">
                        <h3 class="text-dark text-center">Menu</h3>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><a href={{ url_for('items.item_listing') }} class="list-group-item bg-active"><i
                                        class="fa fa-angle-double-right"></i> Deals
                                    <span class="badge">{{ count }}</span></a>
                                </li>
                                <li><a href={{ url_for('profile.my_profile') }} class="list-group-item"><i
                                        class="fa fa-user"></i> My Profile</a></li>
                                <li><a href={{ url_for('cart.cart_listing') }} class="list-group-item"><i
                                        class="fa fa-user"></i> My Cart</a></li>
                                <li><a href={{ url_for('login.logout') }} class="list-group-item"><i
                                        class="fa fa-power-off"></i> Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="panel-dark pb-5">
                        <div class="panel-body-dark">
                            <div class="row mt-4">
                                <!-- Profile of user -->
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>My Profile</h4>
                                        </div>
                                        <div class="panel-body text-dark">
                                            <div class="box box-info">
                                                <div class="box-body">
                                                    <div class="col-sm-6">
                                                        <div align="center">
                                                            <img alt="User Pic"
                                                                 src="/static/user.jpg"
                                                                 id="profile-image" class="img-circle img-responsive">
                                                        </div>
                                                        <br>
                                                    </div>
                                                    <!-- /input-group -->
                                                    <div class="col-sm-6">
                                                        <h4 style="color:#00b1b1;">{{ "{} {}".format(current_user.first_name, current_user.last_name) }} </h4>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <hr style="margin:5px 0 5px 0;">

                                                    <div class="col-sm-5 col-xs-6 profile_title">First Name:</div>
                                                    <div class="col-sm-7">{{ current_user.first_name }}</div>
                                                    <div class="clearfix"></div>
                                                    <div class="bot-border"></div>

                                                    <div class="col-sm-5 col-xs-6 profile_title ">Last Name:</div>
                                                    <div class="col-sm-7">{{ current_user.last_name }}</div>
                                                    <div class="clearfix"></div>
                                                    <div class="bot-border"></div>

                                                    <div class="col-sm-5 col-xs-6 profile_title ">Email:</div>
                                                    <div class="col-sm-7">{{ current_user.email }}</div>
                                                    <div class="clearfix"></div>
                                                    <div class="bot-border"></div>

                                                    <div class="col-sm-5 col-xs-6 profile_title ">Date Of Joining:</div>
                                                    <div class="col-sm-7">15 Jun 2016</div>
                                                    <div class="clearfix"></div>
                                                    <div class="bot-border"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    {{ super() }}
{% endblock %}