{% extends "app_base.html" %}

{% block content %}
    <!-- Logo and Search -->
    <div class="row">
        <div class="col-md-3">
            <a href={{ url_for('items.item_listing') }}><img src="/static/logo2.jpg" width="30%"></a>
        </div>
    </div>
    <div class="row">
        <!-- Side bar -->
        <div class="col-md-3">
            <div class="panel">
                <h3 class="text-dark text-center">Menu</h3>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><a href={{ url_for('items.item_listing') }} class="list-group-item bg-active"><i
                                class="fa fa-angle-double-right"></i> Deals
                            <span class="badge">{{ count }}</span></a>
                        </li>
                        <li><a href={{ url_for('profile.my_profile') }} class="list-group-item"><i
                                class="fa fa-user"></i> My Profile</a></li>
                        <li><a href={{ url_for('cart.cart_listing') }} class="list-group-item"><i class="fa fa-user"></i> My Cart</a></li>
                        <li><a href={{ url_for('login.logout') }} class="list-group-item"><i
                                class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel text-dark">
                <div class="panel-body">
                    <table id="cart" class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th style="width:50%">Product</th>
                            <th style="width:10%">Price</th>
                            <th style="width:22%" class="text-center">Subtotal</th>
                            <th style="width:10%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs"><img src="/static/100x100.png" alt="..."
                                                                             class="img-responsive"/></div>
                                        <div class="col-sm-10">
                                            <h4 class="nomargin">{{ item['itemName'] }}</h4>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">${{ item['itemPrice'] }}</td>
                                <td class="actions" data-th="">
                                    <form action={{ url_for('cart.cart_delete_item') }} method="post">
                                        <button class="btn btn-danger btn-sm" type="submit" value={{ item['itemID'] }} name='delete'>
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><a href={{ url_for('items.item_listing') }} class="btn btn-warning">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Continue Shopping</a>
                            </td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total ${{ subtotal }}</strong></td>
                            <td><a href="#" class="btn btn-success btn-block">Checkout <i
                                    class="glyphicon glyphicon-chevron-right"></i></a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{ super() }}
{% endblock %}