{# this blueprint contains the HTML for the login block including the username/password fields #}

{% extends "login/login_base.html" %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <img src="/static/logo2.jpg" width="100%">
                <form role="form" action={{ url_for('login.login_form') }} method="post">
                    <fieldset>
                        <h2 align="center">VIP Sign In</h2>
                        <hr>
                        <div class="container" style="min-height:100%; width:80%">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close"><span aria-hidden="true">×</span></button>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg"
                                   placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg"
                                   placeholder="Password">
                        </div>
                        <div class="row">
                            <!-- replace Forgot Password link -->
                            <a href="" class="btn btn-link pull-right">Forgot Password?</a>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <!-- replace link -->
                                <a href={{ url_for('login.register') }} class="btn btn-lg btn-primary btn-block">Register</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}