/*Custom CSS file to override various bootstrap items*/
html {
    position: relative;
    min-height: 100%;
}

body {
    background: #343434 !important;
    color: #ffffff;
    margin-bottom: 150px;
}

nav.navbar ul > li > a:hover {
    background-color: #49ee36;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

.text-dark {
    color: #161616;
}

.panel-body-dark {
    background: #343434;
}

.panel-dark {
    border: none;
}

#profile-image {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: 2px solid #03b1ce;
}

.profile_title{
    font-size:16px;
    font-weight:500;
}

.bot-border {
    border-bottom: 1px #f8f8f8 solid;
    margin: 5px 0 5px 0
}

.footer {
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #777;
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

img {
    width: 100%;
}