{# This will be the base blueprint that all other blueprints will inherit.
The base contains a header and footer section that will be common to all pages excluding the login sections#}

{# extending the bootstrap base html layout
https://github.com/mbr/flask-bootstrap/blob/master/flask_bootstrap/templates/bootstrap/base.html#}
{% extends "bootstrap/base.html" %}

{# import browser compatibility fixes #}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    {{ super() }}
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
{% endblock styles %}

{% block navbar %}
    {{ super() }}
    {{nav.top_nav.render()}}
{% endblock navbar %}

{% block content %}

    {% block footer %}
        <section class="footer bg-light py-5" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>About The VIP Movie Club</h5>
                        <p>The VIP Movie Club is a solution for cinemas to advertise movie tickets and movie deals on an awesome
                        website that is fully managed and scalable for any company</p>
                    </div>
                    <div class="col-md-4" style="text-align: center">
                        <h5>Home</h5>
                        <ul class="list-unstyled">
                            <li><a href={{ url_for('items.item_listing') }}> Search</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4" style="text-align: center">
                        <h5>Account</h5>
                        <ul class="list-unstyled">
                            <li><a href={{ url_for('profile.my_profile') }}> My Profile</a></li>
                            <li><a href={{ url_for('cart.cart_listing') }} > My Cart</a></li>
                            <li><a href={{ url_for('login.login_page') }}> Login</a></li>
                            <li><a href={{ url_for('login.create_account') }}> Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    {% endblock footer %}
{% endblock content %}