{# this blueprint contains the HTML for the landing page #}

{% extends "app_base.html" %}

{% block content %}

    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h1 align="center"> Welcome to the VIP Movie Club!</h1>
            </div>
        </div>
        <div class="row" style="margin:20px 20px">
            <!-- Center the Search bar in the remaining row -->
            <div class="col-md-6 col-md-offset-3">
                <div id="custom-search-input">
                    <form class="input-group col-md-12" action={{ url_for('items.search') }} method="GET">
                        <input type="text" class="form-control input-lg" name="search"
                               placeholder="Search for a deal or movie ticket..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-lg" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 20px 20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <img src="/static/logo2.jpg" width="100%">
            </div>
        </div>
    </div>
    {{ super() }}
{% endblock %}