{# this blueprint contains the HTML for the items page that will display all items of a related search #}


{% extends "app_base.html" %}

{% block content %}
    <!-- main body section -->
    <section class="py-5">
        <div class="container-fluid">
            <div class="row">
                <!-- Logo and Search -->
                <div class="col-md-3">
                    <a href={{ url_for('items.item_listing') }}><img src="/static/logo2.jpg" width="30%"></a>
                </div>
                <div class="col-md-9">
                    <!-- Center the Search bar in the remaining row -->
                    <div class="col-md-6 col-md-offset-3">
                        <div id="custom-search-input">
                            <form class="input-group col-md-12" action={{ url_for('items.search') }} method="GET">
                                <input type="text" class="form-control input-lg" name="search"
                                       placeholder="Search for a deal or movie ticket..."/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-lg" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </form>
                        </div>
                    </div>
                    <!-- Title of listings and query/pagination details -->
                    <div class="col-md-11 col-md-offset-1">
                        <h6>Search Items - '{{ query_name }}' {{ pagination.info }}</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Side bar -->
                <div class="col-md-2">
                    <div class="panel">
                        <h3 class="text-dark text-center">Menu</h3>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><a href={{ url_for('items.item_listing') }} class="list-group-item bg-active"><i
                                        class="fa fa-angle-double-right"></i> Deals
                                    <span class="badge">{{ count }}</span></a>
                                </li>
                                <li><a href={{ url_for('profile.my_profile') }} class="list-group-item"><i
                                        class="fa fa-user"></i> My Profile</a></li>
                                <li><a href={{ url_for('cart.cart_listing') }} class="list-group-item"><i
                                        class="fa fa-user"></i> My Cart</a></li>
                                <li><a href={{ url_for('login.logout') }} class="list-group-item"><i
                                        class="fa fa-power-off"></i> Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Main listings -->
                <div class="col-md-10">
                    <div class="panel-dark pb-5">
                        <div class="panel-body-dark">
                            <div class="row mt-4">
                                <!-- Write out the card with title, price, description from db -->
                                {% for item in items %}
                                    <div class="col-md-4">
                                        <div class="panel panel-default text-center mb-2">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">{{ item['item_name'] }}</h4>
                                            </div>
                                            <div class="panel-body">
                                                <h6 class="mb-2 text-muted">${{ item['item_price'] }}</h6>
                                                <p style="color: black">{{ item['item_description'] }}</p>
                                            </div>
                                            <form id="addToCart" action={{ url_for('cart.add_to_cart') }} method="POST">
                                                <input type="hidden" name="itemName" value="{{ item['item_name'] }}">
                                                <input type="hidden" name="itemPrice" value="{{ item['item_price'] }}">
                                                <button class="btn btn-primary" type="submit" name="itemID"
                                                        value={{ item['itemID'] }}>Add To Cart
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                {{ pagination.links }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    {{ super() }}
{% endblock %}